.basic {
    main {
        .services {
            padding-top: 200px;
            padding-bottom: 75px;
            &__text {
                margin: 0 auto;
                text-align: center;
                h2 {
                    font-size: $font-size-md;
                    color: var(--text-color-grey);
                }
                span {
                    font-size: $font-size-xxs;
                    color: var(--text-color-grey);
                }
            }
            &__squares {
                padding-top: 35px;
                margin: 5px;
                &_item {
                    width: 50%; 
                    padding: 40px 10px;
                    &_img {
                        float: left;
                        height: 100px;
                        width: 85px;
                    }  
                    &_text {
                        padding-right: 60px;
                        h4 {
                            font-size: $font-size-sm;
                            color: var(--text-color-grey);
                        }
                        p {
                            padding-top: 20px;
                            font-size: $font-size-xxs;
                            color: var(--text-color);
                        }
                    }  
                }
            }
        }
    }
}